<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="stderr" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="trace"/>
        <param name="target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %5p %m%n"/>
            <!--param name="ConversionPattern" value="%-5p %d [%t][%F:%L] : %m%n" /-->
        </layout>
    </appender>

    <logger name="org.repodriller" additivity="false">
        <level value="info"/>
        <appender-ref ref="stderr"/>
    </logger>

    <logger name="de.ovgu.skunk" additivity="false">
        <level value="info"/>
        <appender-ref ref="stderr"/>
    </logger>

    <logger name="de.ovgu.skunk.commitanalysis.ListAllFunctions" additivity="false">
        <level value="trace"/>
        <appender-ref ref="stderr"/>
    </logger>

</log4j:configuration>
