<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="stderr" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="trace"/>
        <param name="target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--param name="ConversionPattern" value="%d{HH:mm:ss} %5p %m%n"/-->
            <param name="ConversionPattern" value="%5p %m%n"/>
            <!--param name="ConversionPattern" value="%-5p %d [%t][%F:%L] : %m%n" /-->
        </layout>
    </appender>

    <!--
    <logger name="org.repodriller" additivity="false">
        <level value="info"/>
        <appender-ref ref="stderr"/>
    </logger>

    <logger name="de.ovgu.skunk" additivity="false">
        <level value="info"/>
        <appender-ref ref="stderr"/>
    </logger>

    <logger name="de.ovgu.skunk.commitanalySnapshotChangedFunctionListerster" additivity="false">
        <level value="warn"/>
        <appender-ref ref="stderr"/>
    </logger>
    -->

    <logger name="de.ovgu.skunk">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.skunk.detection.input.SrcMlFolderReader">
        <level value="warn"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis">
        <level value="warn"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis.SnapshotChangedFunctionLister">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.bugs.minecommits.main.CommitDistance">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.bugs.minecommits.CommitsDistanceDb">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis.CommitChangedFunctionLister">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis.CommitHunkToFunctionLocationMapper">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis.AddDelMergingConsumer">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis.CachingFunctionLocationProvider">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis.ListChangedFunctions">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis.distances.AddChangeDistances">
        <level value="debug"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis.distances.FunctionMoveResolver">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis.branchtraversal">
        <level value="info"/>
    </logger>

    <logger name="de.ovgu.ifdefrevolver.commitanalysis.branchtraversal.GenealogyTracker">
        <level value="debug"/>
    </logger>

    <!--logger name="de.ovgu.ifdefrevolver.commitanalysis.branchtraversal.WriteSnapshotsToCsvFilesStrategy">
        <level value="debug"/>
    </logger-->

    <!--logger name="de.ovgu.ifdefrevolver.commitanalysis.FunctionLocationProvider">
        <level value="debug"/>
    </logger-->

    <root>
        <priority value="info"/>
        <appender-ref ref="stderr"/>
    </root>

</log4j:configuration>
